.jobs-bg-cont {
  background-color: #000000;
  min-height: 86vh;
  width: 100vw;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.jobs-left-cont {
  width: 30%;
}
.profile-bg-cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 100%;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
